*.class

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ IDEA project
.idea/*
!.idea/encodings.xml
!.idea/dictionaries/

# Gradle
.gradle
build/